{% extends 'base.html' %}

    {% block head%}
    <title>Profile</title>
    {% endblock %}

{% block body %}

    <div class="container">
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

<div class="w3-container w3-padding-32 w3-theme-d1">
<div class="w3-container w3-text-black">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
        <br>
</div>
</div>



{% endblock %}
