{% extends 'base.html' %}

    {% block head%}
    <title>Profile - SMART CITY</title>
    {% endblock %}

{% block body %}
    <div class="container">
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

<div class="w3-container w3-padding-32 w3-theme-d1">
  <h1>Profile</h1>




<div class="w3-container w3-text-black">
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Phone: {{ user.userprofile.phone }}</p>
    <p>User type: {{  user.userprofile.role }}</p>
    {% if user.userprofile.image %}
    <img src="{{ user.userprofile.image.url }}" width="240">
    {% endif %}

</div>

</div>



{% endblock %}
