{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}


<div class="w3-container w3-padding-32 w3-theme-d1">
  <h1>WELCOME TO BUSINESS</h1>
</div>

<div class="w3-row-padding w3-theme">

<div class="w3-third w3-section">
<div class="w3-card-4">
<img src="{% static 'images/school.jpg' %}" class="w3-hover-opacity" style="width:100%">

<div class="w3-container w3-white">
<h4>SCHOOL</h4>
<p>Find everything that you would like for the school.</p>
</div>
</div>
</div>

<div class="w3-third w3-section">
<div class="w3-card-4">
<img src="{% static 'images/business.jpg' %}" class="w3-hover-opacity" style="width:100%">
<div class="w3-container w3-white">
<h4>BUSINESS</h4>
<p>Let us help you find the right industires for you.</p>
</div>
</div>
</div>

<div class="w3-third w3-section">
<div class="w3-card-4">
<img src="{% static 'images/tourist.jpg' %}" class="w3-hover-opacity" style="width:100%">
<div class="w3-container w3-white">
<h4>TOURIST</h4>
<p>Lets enjoy what the city has to offer.
</div>
</div>
<br><br><br>
</div>
</div>
<div class="w3-container w3-theme-d4">
<p class="w3-large">Smarty City Co.</p>
</div>


{% endblock %}