{% extends 'base.html' %}

{% block body %}

<div class="w3-container w3-padding-32 w3-theme-d1">
    <div class="w3-container w3-text-black">

        <div class="col-md-8">
            <h2>LEAVE YOUR FEEDBACK</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.post }}
            <br>
            <button type="submit">Submit</button>
        </form>

        <h2>{{ text }} </h2>
     {% for post in posts %}
        <h1>{{ post.post }}</h1>
         <p>Posted by {{ post.user.get_full_name }} on {{ post.created }}</p>
    {% endfor %}
        </div>
    <div class="col-md-4">
        <h2>Other Information</h2>
        {% for user in users %}
        <a href={% url 'account:view_profile_with_pk' pk=user.pk %}>
            <h3>{{ user.username }}</h3>
        </a>
    {% endfor %}

    </div>

    </div>

</div>

{% endblock %}